{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    <main>
        <div class="container">
            {% if cart|length > 0 %}


                <h2 class="mb-5">Le montant de votre panier s'élève à : <span class="text-success">{{ price }} €</span>
                </h2>
                <div class="table-responsive-sm">

                    <table class="table border border-dark table-hover">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nom</th>
                            <th scope="col" class="text-center">Quantité</th>
                            <th scope="col" class="text-center">Prix unitaire</th>
                            <th scope="col" class="text-center">Prix total</th>
                            <th scope="col" class="text-center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for productOrder in cart %}
                            {% dump productOrder %}
                            <tr class="align-middle">
                                <th scope="row">{{ productOrder.product.id }}</th>
                                <th scope="row">{{ productOrder.product.name }}</th>
                                <td class="text-center">
                                    <a href="{{ path('cart_addremoveone', {'id' : productOrder.product.id, 'operator' : 'minus'}) }}"
                                       class="btn btn-success py-0 px-1 mx-1">
                                        -
                                    </a>
                                    {{ productOrder.quantity }}
                                    <a href="{{ path('cart_addremoveone', {'id' : productOrder.product.id, 'operator' : 'plus'}) }}"
                                       class="btn btn-success py-0 px-1 mx-1">
                                        +
                                    </a>
                                </td>
                                <td class="text-center">{{ productOrder.product.price }} €</td>
                                <td class="text-center">{{ productOrder.product.price * productOrder.quantity }} €</td>
                                <td class="text-center">
                                    <a href="{{ path('detail', {'id':productOrder.product.id}) }}"
                                       class="btn btn-success p-1">
                                        <i class="fa-solid fa-eye fa-sm"></i>
                                    </a>
                                    <a href="{{ path('cart_remove_product', {'id':productOrder.product.id}) }}"
                                       class="btn btn-success p-1">
                                        <i class="fa-solid fa-trash-can fa-sm"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex justify-content-center gap-2">
                    {% if app.request.headers.get('referer') == app.request.uri %}
                        <a href="{{ path('default') }}" class="btn btn-success"> Retour</a>
                    {% else %}
                        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-success"> Retour</a>
                    {% endif %}
                    <a class="btn btn-success ">Confirmer la commande</a>
                </div>
            {% else %}
                <div class="border shadow text-center rounded-3 py-4">
                    <h2 class="mb-4">Votre panier est vide !</h2>
                    {% if app.request.headers.get('referer') == app.request.uri %}
                        <a href="{{ path('default') }}" class="btn btn-success"> Retour</a>
                    {% else %}
                        <a href="{{ app.request.headers.get('referer') }}" class="btn btn-success"> Retour</a>
                    {% endif %}
                </div>

            {% endif %}
        </div>
    </main>
{% endblock %}
