{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="container">
    <div class="">
        Mode de livraison
    </div>
    <div class="border">
        {{ form_start(form) }}
            {{ form_row(form.nbStreet, {'attr': {'value': app.user.nbStreet }}) }}
            {{ form_row(form.addressLine, {'attr': {'value': app.user.addressLine }}) }}
            {{ form_row(form.postCode, {'attr': {'value': app.user.postCode }}) }}
            {{ form_row(form.city, {'attr': {'value': app.user.city }}) }}
            {{ form_row(form._token) }}
            {{ form_row(form.submit)}}
        {{ form_end(form, {'render_rest':false}) }}
    </div>
    <div class="border">
        Moyen de paiement
    </div>
</div>
{% endblock %}