{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="h2">
            Mode de livraison
        </div>
        <div class="border">
            {{ form_start(addressForm) }}
            {{ form_row(addressForm.nbStreet, {'attr': {'value': app.user.nbStreet }}) }}
            {{ form_row(addressForm.addressLine, {'attr': {'value': app.user.addressLine }}) }}
            {{ form_row(addressForm.postCode, {'attr': {'value': app.user.postCode }}) }}
            {{ form_row(addressForm.city, {'attr': {'value': app.user.city }}) }}
            {{ form_row(addressForm._token) }}
            {{ form_row(addressForm.submit) }}
            {{ form_end(addressForm, {'render_rest':false}) }}
        </div>
        <div class="border">
            {{ form(paymentForm) }}
            {{ form_end(addressForm) }}

        </div>
    </div>
{% endblock %}