{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="h2">
            Votre commande a bien été passée
        </div>
        <div class="border">
            TO
{{ app.user.firstname }}
{{ app.user.lastname }}
{{ app.user.nbStreet }}
{{ app.user.addressLine }}
{{ app.user.postCode }}
{{ app.user.city }}
            Reçu
            {{ order.id }}
            {{ dateOrder }}
            {{ order.status.label }}
            {{ dump(order) }}

            {{ dump(orderLines) }}
            {% for orderLine in orderLines  %}

                {{ orderLine.product.name }}
            {% endfor %}
        </div>
        <div class="border">

        </div>
    </div>
{% endblock %}