{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/product.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
    <main class="pt-5">
        <section class="my-5  container">
            {% include 'parts/breadcrumbs.html.twig' %}
            <div class="row mt-5">
                <div class="col-md-6 d-flex justify-content-center">
                    <img src="{{ produit.image }}" alt="{{ produit.name }}"
                         class="img-fluid img-md-detail" width="300">
                </div>
                <div class="col-md-6 px-5">
                    <h4 class="text-end mt-4 mt-md-0 text-success fw-bolder mb-4">{{ produit.name }}</h4>
                    <p class="text-end blockquote-footer">ref client : {{ produit.id }}</p>
                    <h6 class="text-success fw-bolder mb-4">Description du produit :</h6>
                    <p class="text-justify">
                        {{ produit.description }}
                    </p>
                    <div class="d-flex justify-content-end gap-5 mt-5 pt-2">
                        <a href="{{ path('cart_add', {'id': produit.id }) }}"
                           class="btn btn-success ms-4 rounded-pill">Ajouter
                            au panier</a>
                    </div>
                </div>
            </div>
        </section>
        <hr class="detail-hr mx-auto">
        <section class="mt-5 reassurance">
            <div class="row text-center">
                <div class="col-lg-4 col-sm-12 mb-5 mb-sm-5">
                    <div class="rea_block_ship rounded-4">
                        <img src="{{ asset('images/index/reassurance_shippment.png') }}" alt="" width="" height="">
                    </div>
                    <p>
                        Livraison sous <strong>24h</strong>
                    </p>
                    <hr>
                </div>
                <div class="col-lg-4 col-sm-12 rea_block mb-5 mb-sm-5">
                    <div class="rea_block_mPaiement mx-auto rounded-4 position-relative">
                        <img src="{{ asset('images/index/reassurance_mPaiement.png') }}" alt="" width="" height="">
                    </div>
                    <p>
                        Paiement sécurisé
                    </p>
                    <hr>
                </div>
                <div class="col-lg-4 col-sm-12 ">
                    <div class="rea_block_refound rounded-4">
                        <img src="{{ asset('images/index/reassurance_remboursement.png') }}" alt="" width="" height="">
                    </div>
                    <p>
                        Remboursement sous <strong>30 jours</strong>
                    </p>
                    <hr>
                </div>
            </div>
        </section>
    </main>
{% endblock %}