{#<div class="d-flex gap-3">
    <a href="{{ path('admin_index') }}">Accueil admin</a>
    <a href="{{ path('admin_category_index') }}">category</a>
    <a href="{{ path('default') }}">Site</a>
</div>#}
<div>
    <div class="header header-pd" id="header">
        <div class="header_toggle" id="header-open">dd</div>
        <div class="btn-group profil-btn-group">
            <button type="button" class="btn btn-success rounded-pill dropdown-toggle d-flex align-items-center profil-btn"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">
                <i class="fas fa-user-circle fa-2x me-1"></i>
                <p class="m-0">{{ app.user.firstname }} {{ app.user.lastname }}</p>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="{{ path('default') }}">Revenir au site</a></li>
                <li><a class="dropdown-item" href="account.php">Mon compte</a></li>
                <li><a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a></li>
            </ul>

        </div>
    </div>

</div>