{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/product-list.css') }}">
{% endblock %}

{% block body %}


    <div class="container">
        {% include 'parts/breadcrumbs.html.twig' %}

        <h1>Nos produits</h1>
        <div class="row gap-4 justify-content-center py-5">
            {% for categorie in categories %}
                <a class="col-md-3 border cat-card bg-success"
                   href="{{ path('product_list', {'idCat':categorie.id, 'currentPage': 1, 'nbDisplayed': 2}) }}">
                    <div>{{ categorie.label }}</div>
                </a>
            {% endfor %}
        </div>

            {% for productF in productFiltered %}
                <p>{{ productF.name }}</p>
            {% endfor %}
            <div class="border row p-5 shadow-inner">
            <div class="btn-group-vertical">
                <a class="btn btn-outline-success"
                   href="{{ path('product_list', {'idCat':idCat, 'currentPage': currentPage, 'nbDisplayed': 2}) }}">Afficher
                    2
                    produits</a>
                <a class="btn btn-outline-success"
                   href="{{ path('product_list', {'idCat':idCat, 'currentPage': currentPage, 'nbDisplayed': 4}) }}">Afficher
                    4
                    produits</a>
            </div>
                <div class="col-md-3 col-sm-12 bg-light sticky-sm-top">
                    {{ form_start(form) }}
                    {{ form_end(form) }}
                </div>
                <div class="col-md-9 col-sm-12">
                    <div class="row ps-3 pt-3 g-2">
                        {% for produit in produits %}
                            <div class="col-md-4 col-sm-12 col-12">
                                    <div class="card py-3 position-relative rounded-4 ">
                                        <a href="{{ path('cart_add', {'id': produit.id }) }}" class="cart-icon">
                                            <i class="fa-solid fa-cart-arrow-down align-middle fa-md "></i>
                                        </a>
                                        <a href="{{ path('detail', {'id': produit.id }) }}" class="card-content">
                                            <div class="img text-center">
                                                <img src="{{ produit.image }}"
                                                     class="img-fluid rounded-4"
                                                     width="200"
                                                     height="300">
                                            </div>
                                            <hr>
                                            <div class=" card-body">
                                                <div class="card-product-brand">{{ produit.brand }}</div>
                                                <p class="card-product-name">
                                                    {{ produit.name }}
                                                </p>
                                                <div class="text-start">
                                                    {% for i in range(1,5 ) %}
                                                        {% if i > produit.nbStar %}
                                                            <i class="fa-regular fa-star fa-2xs align-middle"></i>
                                                        {% else %}
                                                            <i class="fa-solid fa-star fa-2xs align-middle"></i>
                                                        {% endif %}
                                                    {% endfor %}
                                                    <span class="star-text">({{ produit.nbStar }})</span>

                                                </div>

                                                <p class="card-product-price">
                                                    {{ produit.price }} € <sup class="ttc">TTC</sup>
                                                </p>

                                            </div>
                                        </a>
                                    </div>
                            </div>


                        {% endfor %}
                        <nav aria-label="Page navigation example" class="mt-4 ">
                            <ul class="pagination justify-content-center">
                                {% if currentPage !=1 %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ path('product_list', {'idCat':idCat, 'currentPage': currentPage-1, 'nbDisplayed': nbDisplayed}) }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                {% endif %}
                                {% for page in 1..nbPage %}
                                    <li class="page-item {% if page == currentPage %}active{% endif %}"><a
                                                class="page-link"
                                                href="{{ path('product_list', {'idCat':idCat, 'currentPage': page, 'nbDisplayed': nbDisplayed}) }}">{{ page }}</a>
                                    </li>
                                {% endfor %}
                                {% if currentPage != nbPage %}
                                    <li class="page-item">
                                        <a class="page-link"
                                           href="{{ path('product_list', {'idCat':idCat, 'currentPage': currentPage+1, 'nbDisplayed': nbDisplayed}) }}"
                                           aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                {% endif %}

                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}