{% extends 'admin_base.html.twig' %}

{% block title %}Product index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center flex-wrap mb-5">
        <h1>Administration des Produits</h1>
        <a href="{{ path('admin_product_new') }}" class="btn btn-success">Ajouter un produit</a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Image</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody class="align-middle">
            {% for product in products %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td class="admin-product-img text-center"><img src="{{ asset('images/products/' ~ product.image) }}" class="p-mw-200px"></td>
                    <td class="ws-nowrap">{{ product.price|number_format(2) }} €</td>
                    <td>
                        <a href="{{path('detail', {'id': product.id}) }}" class="btn btn-success">Voir</a>
                        <a href="{{ path('admin_product_edit', {'id': product.id}) }}" class="mt-2 btn btn-success">Editer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun produit trouvé !</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
