<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
     aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('default') }}">Accueil</a></li>
        {% if app.request.get('_route')=='contact' %}
            <li class="breadcrumb-item active" aria-current="page">Contact</li>

        {% elseif app.request.get('_route')=='detail' %}
            <li class="breadcrumb-item"><a
                        href="{{ path('product_list', {'idCat':produit.category.id, 'currentPage': 1, 'nbDisplayed': 2}) }}">{{ produit.category }}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{ produit.name }}</li>
        {% elseif app.request.get('_route')=='product_list' %}
            <li class="breadcrumb-item active" aria-current="page">
                {% for category in categories %}
                    {% if idCat==category.id %}
                        {{ category.label }}
                    {% endif %}
                {% endfor %}
            </li>
        {% endif %}
    </ol>
</nav>