<section class="section-navbar">
    <nav class="fixed-top navbar navbar-expand-lg navbar-light main-navbar">
        <div class="container">
            <a class="navbar-brand" href="{{ path('default') }}"><img src="{{ asset('images/logo_min.png') }}"
                                                                      height="50"
                                                                      alt="logo de l'Animealerie"></a>
            <div class="d-flex order-lg-last align-items-center gap-5">
                <a href="{{ path('product_all') }}" class="d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" class="searchBar-search" viewBox="0 0 512 512">
                        <path d="M500.3 443.7l-119.7-119.7c27.22-40.41 40.65-90.9 33.46-144.7C401.8 87.79 326.8 13.32 235.2 1.723C99.01-15.51-15.51 99.01 1.724 235.2c11.6 91.64 86.08 166.7 177.6 178.9c53.8 7.189 104.3-6.236 144.7-33.46l119.7 119.7c15.62 15.62 40.95 15.62 56.57 0C515.9 484.7 515.9 459.3 500.3 443.7zM79.1 208c0-70.58 57.42-128 128-128s128 57.42 128 128c0 70.58-57.42 128-128 128S79.1 278.6 79.1 208z"/>
                    </svg>
                </a>

                <a href="{{ path('cart_display') }}" class="a-color notification">
                    <i class="fas fa-shopping-cart text-center"></i><span class="notif-badge">{{ cart_notif }}</span>
                </a>
                {% if app.user %}
                    <div class="btn-group d-none d-lg-inline-flex">
                        <button type="button" class="btn btn-success rounded-pill dropdown-toggle"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                            <i class="fas fa-user-circle fa-2x"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            {% if is_granted("ROLE_ADMIN") %}
                                <li><a class="dropdown-item" href="{{ path('admin_index') }}">Administration</a></li>
                            {% endif %}
                            <li><a class="dropdown-item" href="{{ path('account') }}">Mon compte</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Me déconnecter</a></li>
                        </ul>
                    </div>
                {% else %}
                    <a href="{{ path('app_login') }}" class="a-color block-icon-connexion d-md-none d-lg-block">
                        <i class="bi bi-box-arrow-in-right"></i>
                    </a>
                {% endif %}
            </div>
            <button class="navbar-toggler order-first" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav me-auto nav-disp my-2 my-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle"
                           href=""
                           data-bs-toggle="dropdown">
                            PRODUITS </a>
                        <div class="dropdown-menu px-4 fade-up" data-bs-popper="none">
                            <div class="row g-3">
                                <div class="col-6">
                                    <p class="ws-nowrap h6">Nos animaux</p>
                                    <ul class="list-unstyled">
                                        {% for category in categories %}
                                            <li>
                                                <a href="{{ path('product_list', {'idCat':category.id, 'currentPage': 1, 'nbDisplayed': 10}) }}"
                                                   class="a-header">
                                                    {{ category.label }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div><!-- end col-3 -->

                            </div><!-- end row -->
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SERVICE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">À PROPOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('contact') }}">CONTACT</a>
                    </li>
                    <li class="nav-item li-connexion d-lg-none">
                        <hr>
                        {% if app.user %}
                            {% if is_granted("ROLE_ADMIN") %}
                                <a class="nav-link" href="{{ path('admin_index') }}">Administration</a>
                    </li>
                            {% endif %}
                    <li class="nav-item li-connexion d-lg-none">
                            <a class="nav-link" href="{{ path('account') }}">Mon compte</a>
                    </li>
                    <li class="nav-item li-connexion d-lg-none">
                            <a class="nav-link" href="{{ path('app_logout') }}">Me déconnecter</a>
                    </li>
                        {% else %}
                            <a href="{{ path('app_login') }}" class="a-color block-icon-connexion d-md-none d-lg-block">
                                <i class="bi bi-box-arrow-in-right"></i>
                            </a>
                            <a class="nav-link d-flex align-items-center a-connexion" href="{{ path('app_login') }}">
                                <i class="bi bi-box-arrow-in-right"></i>
                                <p class="ms-3 ms-lg-0 mb-0">Connexion</p>
                            </a>
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</section>